a {
	width: auto;
	display: flex;
	align-items: center;
	color: var(--color);
	background-color: transparent;

	& > span > img {
		height: 2rem;
		vertical-align: middle;
		border: 0;
	}

	& > h2 {
		margin: 0;
		margin-top: 0.25rem;
		margin-left: 0.5rem;
		font-size: 1rem;
	}
}

body {
	transition-property: background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

h2 {
	transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}
