body {
	width: 40rem;
}

div#top {
	position: relative;
	padding: 0;
	border-radius: 0.25rem;
	background-clip: padding-box;
	box-shadow: 0 2px 2px 0 rgba(var(--rgbcolor), 0.1);
	display: block;
}

html,
:not(:has([style*="transparent"])) {
	transition-property: color background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

header {
	& > iframe {
		border: none;
		height: 2.1rem !important;
	}

	& > div:last-child {
		display: flex;
		align-items: center;

		& > * {
			cursor: pointer;
		}

		& > div#theme-selector {
			display: flex;
			align-items: center;

			& > svg {
				height: 2rem;

				&#sun, &#moon {
					& .primary {
						fill: none;
						stroke: var(--color);
					}
					& .secondary {
						fill: var(--theme-fill);
					}
				}
			}
		}

		& > img {
			height: 2rem;
		}
	}
}

div#top > table {
	padding: 0 !important;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	font-size: inherit;
	width: 100%;
	white-space: nowrap;
	text-align: left;

	& > thead {
		& th {
			padding: 0.25rem 1rem;
			background-color: var(--shade);
			font-weight: 700;
			line-height: normal;
			position: relative;
		}

		& th:first-child {
			padding: 0;
			width: 1rem;
		}

		& th:last-child {
			padding-right: 1.5rem;
		}
	}

	& > tbody#tabs {
		& > tr.tab {
			counter-increment: row-number;

			& > td {
				padding: 0.25rem 0.5rem;
				padding-left: 1rem;

				& > svg {
					width: 1rem;
					height: 1rem;
					cursor: grab;
					stroke: var(--color);
				}

				& > div {
					clear: left;
					transition: all 0.3s ease-in-out;
					transform: translateX(0); /* Initially no translation */
				}

				&:hover > div {
					transform: translateX(10px);
				}
			}
		}

		& > tr.tab:first-child > td {
			padding-top: 0.75rem;
		}

		& > tr.tab:last-child :is(:not(input)) {
			cursor: not-allowed !important;
		}
	}
}

input {
	padding-top: 0;
	padding-right: 1rem;
	padding-bottom: 0;
	padding-left: 0.75rem;
	width: 100%;
	min-height: calc(1.875rem + 2px);
	font: inherit;
	line-height: 1.875rem;
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
	display: inline-block;
	margin: 0;
}
